<!DOCTYPE html>
<html dir="rtl">

<head>
    <!--  Charset in meta is used to indicate the web page's character encoding. -->
    <meta charset="UTF-8"> 
    <!-- The viewport is the user's visible area of a web page. It varies with the device - it will be smaller on a mobile phone than on a computer screen. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for reviewing 
    AI papers">
    <meta name="keywords" content="AI, AI papers, AI papers review, AI papers Implementation">
    <meta name="author" content="Ali Alqutayfi">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="style.css">
    <title>AIPRI</title>

    <style>
      body{
        font-family: Rubik;
      }
    </style>
</head>

<body>
    <!-- Navigation bar sectoin -->
    <nav>
      <ul>
        <li>
          <a href="index.html">
            تغيير الى اللغة الانجليزية
          </a>
        </li>
      </ul>
    </nav>

    <hr>

    <!-- The article or content section -->
    <article>
        <h1 class="display-1">مراجعة وتنفيذ الاوراق العلمية للذكاء الاصطناعي</h1>
        <img src="assets/AI.webp" alt="An Image That Describes AI" height="300" width="460">
        <p>
          مرحبًا بكم في مركز مراجعة وتنفيذ أوراق الذكاء الاصطناعي، وهو عبارة عن منصة ديناميكية مخصصة لاستكشاف وتحليل أحدث التطورات في أبحاث الذكاء الاصطناعي. يعد موقعنا الإلكتروني بمثابة مورد شامل حيث يلتقي المتحمسون والباحثون والمهنيون في مجال الذكاء الاصطناعي لمراجعة ومناقشة وتنفيذ أوراق الذكاء الاصطناعي الرائدة.
        </p>
        <h2>أعلى الأوراق مراجعاتا وتطبيقا</h2>
        <ul>
            <li><a href="paper.html">ورقة 1</a></li>
        </ul>
        <h2>مقارنة التنفيذ المختلف لموضوع رائج</h2>

        <table>
            <tr>
              <th>اسم الورقة</th>
              <th>الكفائة</th>
              <th>سهولة التنفيذ</th>
              <th>نوع التكنولوجيا المستخذمة</th>
            </tr>
            <tr>
              <td>ورقة 1</td>
              <td>70%</td>
              <td>سهل</td>
              <td>الشبكات العصبية البيانية</td>
            </tr>
            <tr>
              <td>ورقة 2</td>
              <td>80%</td>
              <td>متوسط</td>
              <td>محولات</td>
            </tr>
            <tr>
              <td>ورقة 3</td>
              <td>75%</td>
              <td>صعب</td>
              <td>الشبكات العصبية التلافيفية</td>
            </tr>
        </table>

    </article>

    <hr>

    <!-- The footer section -->
    <footer>
        <a href="contactUs.html">تواصل معنا</a>
        <p>حقوق النشر: محفوظة لدى قروب المغامرون</p>
        <a href="hardForm.html">نموذج تسجيل ورقة علمية</a>
    </footer>
</body>

</html>